<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_ConfigurableImport>
            <version>0.1.1</version>
        </Kirchbergerknorr_ConfigurableImport>
    </modules>
    <global>
        <blocks>
            <kk_configurable_import>
                <class>Kirchbergerknorr_ConfigurableImport_Block</class>
            </kk_configurable_import>
        </blocks>
        <helpers>
            <kk_configurable_import>
                <class>Kirchbergerknorr_ConfigurableImport_Helper</class>
            </kk_configurable_import>
        </helpers>
        <models>
            <kk_configurable_import>
                <class>Kirchbergerknorr_ConfigurableImport_Model</class>
            </kk_configurable_import>
            <ho_import>
                <rewrite>
                    <mapper>Kirchbergerknorr_ConfigurableImport_Model_Mapper</mapper>
                </rewrite>
            </ho_import>
            <fastsimpleimport>
                <rewrite>
                    <import_entity_product>Kirchbergerknorr_ConfigurableImport_Model_Import_Entity_Product</import_entity_product>
                </rewrite>
            </fastsimpleimport>
            <importexport>
                <rewrite>
                    <export_adapter_csv>Kirchbergerknorr_ConfigurableImport_Model_Export_Adapter_Csv</export_adapter_csv>
                </rewrite>
            </importexport>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kk_configurable_import>
                                            <title>Import</title>
                                        </kk_configurable_import>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>